@charset "utf-8";
/* ====== CSS Document ====== */







/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
   !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
   !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
   !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
   !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
   !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
   !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
   !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
   !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/


section { position: relative; }





/* ####### Desktop(start) ####### */
	@media screen and (min-width: 1025px) {


   .pagination button { padding: 10px 10px; }
   .pagination button > span { display: inline-block; position: relative; left: 50%; transform: translateX(-50%); border-radius: 99999px; border: 1px solid #5e2e2e; transition: all 0.2s linear; }
   .pagination button:hover > span { background: #5e2e2e; }
   .pagination button.active > span { background: #5e2e2e; }
   
   
   .arro_btns { margin: 0 auto; width: 100%; }
   .arro_btns .prev { display: inline-block; transform: rotate(180deg); }
   .arro_btns .next { position: absolute; right: 0; display: inline-block; }

	/*header(D_start) */

   header { z-index: 100; position: sticky; top: 0; width: 5%; height: 100vh; }
   header .header_wrap { width: 100%; height: 100%; background: rgba(220, 180, 179, 0.2); text-align: center; }
	header .header_wrap:hover { background: rgba(220, 180, 179, 0.8); }

	header .info_wrap { position: sticky; left: 1.5%; top: 10px; width: 40px; }
	header .info_wrap > button { display: block; position: relative; top: 10px; width: 90%; text-align: center; }
   header .info_wrap > button.h_menu { background: url("../images/img_common_btn_on.svg"); background-size: cover; background-position: center; background-repeat: no-repeat; width: 36px; height: 36px; filter: invert(72%) sepia(20%) saturate(444%) hue-rotate(314deg) brightness(96%) contrast(87%); }
   header:hover .info_wrap > button.h_menu { filter: invert(72%) sepia(15%) saturate(1649%) hue-rotate(314deg) brightness(85%) contrast(85%); }
	header .info_wrap > button + button { margin-top: 20px; }
	header .info_wrap > button > img { width: 100%; filter: invert(72%) sepia(20%) saturate(444%) hue-rotate(314deg) brightness(96%) contrast(87%); }
	header:hover .info_wrap > button > img { filter: invert(72%) sepia(15%) saturate(1649%) hue-rotate(314deg) brightness(85%) contrast(85%); }

	header .header_wrap > a { display: inline-block; position: relative; top: 70%; width: 100%; height: 200px; }
	header .header_wrap > a > img { display: inline-block; width: 100%; transform: rotate(270deg); }

   /* header on + nav */

	header nav { display: none; }

   header.on .header_wrap { position: absolute; width: 500px; background: #e2c3c1; transition: width 0.3s; }
   header .header_wrap:hover { background: #e2c3c1; }
	header.on .info_wrap { display: inline-block; left: 30%; width: 40px; height: 25%; }
   header.on .info_wrap > button.h_menu { background: url("../images/img_common_btn_off.svg"); background-size: cover; background-position: center; background-repeat: no-repeat; width: 32px; height: 32px; filter: invert(72%) sepia(20%) saturate(444%) hue-rotate(314deg) brightness(96%) contrast(87%); }
   header.on:hover .info_wrap > button.h_menu { filter: invert(72%) sepia(15%) saturate(1649%) hue-rotate(314deg) brightness(85%) contrast(85%); }
	header.on .info_wrap > button { position: relative; right: 20px; top: 10px; width: 32px; height: 32px; text-align: center; }
	header.on .info_wrap > button + button { margin-top: 20px; }

	header.on a { top: 75%; right: -175px; width: 15.7%; text-align: center; }
	
	header.on nav { position: relative; bottom: 120px; display: block; width: 90%; height: 100%; padding: 0 0 0 60px ; }
   header.on nav ul { overflow-y: scroll; height: 100%; }
	header.on nav > ul > li > button { display: block; position: relative; width: 100%; height: 3em; font-family: 'Manrope', sans-serif; font-size: 1.5em; line-height: 3; color: #5e2e2e; }
   header.on nav > ul > li > button.btn_menu img { background-image: url("../images/img_common_btn_off.svg"); }
	header.on nav > ul > li > button::after { content: ""; display: block; position: absolute; right: 15px; top: 50%; transform: translate(50%, -50%); width: 0.58333333em; height: 0.4166666em; background: url("../images/img_common_btn_updown.svg"); filter: invert(17%) sepia(12%) saturate(2455%) hue-rotate(314deg) brightness(110%) contrast(89%); transition: transform 0.3s; }
	header.on nav > ul > li.active > button::after { transform: translate(50%, -50%) rotate(180deg); }
	
	header.on ul.sub { overflow: hidden; height: 0; transition: height 0.2s; }
	header.on nav > ul > li:nth-child(1)[class ~= "active"] > ul.sub { height: 7.5em; }
	header.on nav > ul > li:nth-child(2)[class ~= "active"] > ul.sub { height: 10em; }
	header.on nav > ul > li:nth-child(3)[class ~= "active"] > ul.sub { height: 5em; }
	header.on nav > ul > li:nth-child(4)[class ~= "active"] > ul.sub { height: 7.5em; }
	header.on nav > ul > li:nth-child(5)[class ~= "active"] > ul.sub { height: 2.5em; }

	header.on ul.sub > li > a { display: block; width: 100%; height: 2.5em; padding-left: 2em; color: #5e2e2e; font-size: 1em; line-height: 2.5; text-align: left; }
   header.on ul.sub > li > a span { position: relative; text-align: left; font-family: 'Gothic A1', sans-serif; }
   header.on ul.sub > li > a:hover span::after { content: ""; display: inline-block; position: absolute; bottom: 0px; left: 0; width: 100%; height: 1px; background: #5e2e2e; }





   /* header on + nav */

	/*header(D_end) */



	


	/* footer(D_start)*/


	footer { position: relative; padding: 0px; width: 100%; }

   footer ul { width: 100%; }
   footer ul li.ft_menu { position: relative; width: 100%; }
	footer ul li.ft_menu::after { content: ""; display: inline-block; position: absolute; top: -20px; width: 100%; height: 1.5px; background: #5e2e2e; }
   footer ul li.ft_menu + li.ft_menu::before { content: ""; display: inline-block; width: 1px; height: 5px; background: #5e2e2e; }
	footer ul li.ft_menu ul { position: relative; top: 25%; width: 100%; }
	footer ul li.ft_menu ul li { float: left; width: 20%; text-align: center; }
   footer ul li.ft_menu ul li span { font-family: 'Gothic A1', sans-serif; font-size: 20px; color: #5e2e2e; }
   footer ul li.ft_menu ul li a:hover span { color: rgba(220, 180, 179, 0.8); }

   footer ul li.ft_info { float: left; display: inline-block; position: relative; margin-top: 40px; width: 70%; color: #5e2e2e; }

   footer ul li.ft_info > ul li + li { margin-top: 10px; }
   footer ul li.ft_info > ul li { font-family: 'Gothic A1', sans-serif;  font-size: 14px; font-weight: 500; }
   footer ul li.ft_info span { margin-left: 10px; font-weight: 300; }
   footer ul li.ft_info address { display: inline-block; margin-left: 10px; font-style: normal; font-weight: 300; }

   footer ul li.ft_follow { display: inline-block; position: relative;
       margin-top: 40px; width: 30%; color: #5e2e2e; }

   footer ul li.ft_follow > ul > li { margin-bottom: 20px; }
   footer ul li.ft_follow > ul > li:not(.follow_title) { display: inline-block; width: 14%; height: 20%; filter: invert(88%) sepia(2%) saturate(2941%) hue-rotate(314deg) brightness(82%) contrast(108%); transition: transform 0.3s; text-align: center; }
   footer ul li.ft_follow > ul > li:not(.follow_title):hover { filter: invert(17%) sepia(12%) saturate(2455%) hue-rotate(314deg) brightness(110%) contrast(89%); }
   footer ul li.ft_follow > ul > li:first-child { font-family: 'Gothic A1', sans-serif; font-size: 16px; }
   footer ul li.ft_follow > ul > li:nth-child(3) { position: relative; right: 15px; }
   footer ul li.ft_follow > ul > li:nth-child(4) { position: relative; right: 25px; }
   footer ul li.ft_follow a { width: 100%; height: 100%; }
   footer ul li.ft_follow a img { width: 50%; }

   footer ul li.ft_copy { clear: both; position: relative; margin-top: 10px; width: 100%; height: 50px; text-align: center; color: #5e2e2e; font-family: 'Gothic A1', sans-serif; }
   footer ul li.ft_copy > ul > li { position: relative; top: 20%; }


	/* footer(D_end)*/



}
/* ####### Desktop(end) ####### */

/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!s!!
   !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
   !!!!!!!!!!!!!!!!!##########################!!!!!!!!!!!!!!!!!!!!!
   !!!!!!!!!!!!!!!!!!!!!!!!!!!!!##!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
   !!!!!!!!!!!!!!!!!!!!!!!!!!!!!##!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
   !!!!!!!!!!!!!!!!!!!!!!!!!!!!!##!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
   !!!!!!!!!!!!!!!!!!!!!!!!!!!!!##!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
   !!!!!!!!!!!!!!!!!!!!!!!!!!!!!##!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
   !!!!!!!!!!!!!!!!!!!!!!!!!!!!!##!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
   !!!!!!!!!!!!!!!!!!!!!!!!!!!!!##!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
   !!!!!!!!!!!!!!!!!!!!!!!!!!!!!##!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
   !!!!!!!!!!!!!!!!!!!!!!!!!!!!!##!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
   !!!!!!!!!!!!!!!!!!!!!!!!!!!!!##!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
   !!!!!!!!!!!!!!!!!!!!!!!!!!!!!##!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
   !!!!!!!!!!!!!!!!!!!!!!!!!!!!!##!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
   !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
   !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
*/

/* ####### Tablet(start) ####### */
	@media screen and (min-width: 768px) and (max-width: 1024px) {

   .pagination button { padding: 10px 10px; }
   .pagination button > span { display: inline-block; position: relative; left: 50%; transform: translateX(-50%); border-radius: 99999px; border: 1px solid #5e2e2e; transition: all 0.2s linear; }
   .pagination button:hover > span { background: #5e2e2e; }
   .pagination button.active > span { background: #5e2e2e; }
   
   
   .arro_btns { margin: 0 auto; width: 100%; }
   .arro_btns .prev { display: inline-block; transform: rotate(180deg); }
   .arro_btns .next { position: absolute; right: 0; display: inline-block; }


   /*header(T_start) */

   header { z-index: 100; position: sticky; top: 0; width: 10%; height: 100vh; }
   header .header_wrap { position: relative; width: 100%; height: 100%; background: rgba(220, 180, 179, 0.2); text-align: center; }

	header .info_wrap { display: inline-block; position: sticky; left: 1.5%; top: 10px; width: 40px; height: 20%; }
	header .info_wrap > button { display: block; position: relative; top: 10px; margin: 0 auto; width: 90%; text-align: center; }
   header .info_wrap > button.h_menu { background: url("../images/img_common_btn_on.svg"); background-size: cover; background-position: center; background-repeat: no-repeat; width: 36px; height: 36px; filter: invert(72%) sepia(20%) saturate(444%) hue-rotate(314deg) brightness(96%) contrast(87%); }
   header:hover .info_wrap > button.h_menu { filter: invert(72%) sepia(15%) saturate(1649%) hue-rotate(314deg) brightness(85%) contrast(85%); }
	header .info_wrap > button + button { margin-top: 20px; }
	header .info_wrap > button > img { width: 100%; filter: invert(72%) sepia(20%) saturate(444%) hue-rotate(314deg) brightness(96%) contrast(87%); }
	header:hover .info_wrap > button > img { filter: invert(72%) sepia(15%) saturate(1649%) hue-rotate(314deg) brightness(85%) contrast(85%); }
	header .header_wrap > a { display: inline-block; position: relative; top: 70%; width: 100%; height: 200px; }
	header .header_wrap > a > img { display: inline-block; width: 100%; transform: rotate(270deg); }

   /* header on + nav */

	header nav { display: none; }
   

   header.on .header_wrap { position: absolute; width: 500px; background: #e2c3c1; transition: width 0.3s; }
   header .header_wrap:hover { background: #e2c3c1; }
	header.on .info_wrap { display: inline-block; left: 80%; width: 40px; height: 25%; }
   header.on .info_wrap > button.h_menu { background: url("../images/img_common_btn_off.svg"); background-size: cover; background-position: center; background-repeat: no-repeat; width: 32px; height: 32px; filter: invert(72%) sepia(20%) saturate(444%) hue-rotate(314deg) brightness(96%) contrast(87%); }
   header.on:hover .info_wrap > button.h_menu { filter: invert(72%) sepia(15%) saturate(1649%) hue-rotate(314deg) brightness(85%) contrast(85%); }
	header.on .info_wrap > button { position: relative; right: 20px; top: 10px; width: 32px; height: 32px; text-align: center; }
	header.on .info_wrap > button { position: relative; right: 20px; top: 10px; width: 100%; height: 20%; text-align: center; }
	header.on .info_wrap > button + button { margin-top: 20px; }

	header.on a { left: 36%; top: 76%; width: 20%; text-align: center; }
	
	header.on nav { position: relative; bottom: 120px; display: block; width: 90%; height: 100%; padding: 0 0 0 60px ; }
   header.on nav ul { overflow-y: scroll; height: 100%; }
	header.on nav > ul > li > button { display: block; position: relative; width: 100%; height: 3em; font-family: 'Manrope', sans-serif; font-size: 1.5em; line-height: 3; color: #5e2e2e; }
   header.on nav > ul > li > button.btn_menu img { background-image: url("../images/img_common_btn_off.svg"); }
	header.on nav > ul > li > button::after { content: ""; display: block; position: absolute; right: 15px; top: 50%; transform: translate(50%, -50%); width: 0.58333333em; height: 0.4166666em; background: url("../images/img_common_btn_updown.svg"); filter: invert(17%) sepia(12%) saturate(2455%) hue-rotate(314deg) brightness(110%) contrast(89%); transition: transform 0.3s; }
	header.on nav > ul > li.active > button::after { transform: translate(50%, -50%) rotate(180deg); }
	
	header.on ul.sub { overflow: hidden; height: 0; transition: height 0.2s; }
	header.on nav > ul > li:nth-child(1)[class ~= "active"] > ul.sub { height: 7.5em; }
	header.on nav > ul > li:nth-child(2)[class ~= "active"] > ul.sub { height: 10em; }
	header.on nav > ul > li:nth-child(3)[class ~= "active"] > ul.sub { height: 5em; }
	header.on nav > ul > li:nth-child(4)[class ~= "active"] > ul.sub { height: 7.5em; }
	header.on nav > ul > li:nth-child(5)[class ~= "active"] > ul.sub { height: 2.5em; }

	header.on ul.sub > li > a { display: block; width: 100%; height: 2.5em; padding-left: 2em; color: #5e2e2e; font-size: 1em; line-height: 2.5; text-align: left; }
   header.on ul.sub > li > a span { position: relative; text-align: left; font-family: 'Gothic A1', sans-serif; }
   header.on ul.sub > li > a:hover span::after { content: ""; display: inline-block; position: absolute; bottom: 0px; left: 0; width: 100%; height: 1px; background: #5e2e2e; }





   /* header on + nav */

	/*header(T_end) */



	


	/* footer(T_start)*/


	footer { position: relative; padding: 0px; width: 100%; }

   footer ul { width: 100%; }
   footer ul li.ft_menu { position: relative; width: 100%; }
	footer ul li.ft_menu::after { content: ""; display: inline-block; position: absolute; top: -20px; width: 100%; height: 1.5px; background: #5e2e2e; }
   footer ul li.ft_menu + li.ft_menu::before { content: ""; display: inline-block; width: 1px; height: 5px; background: #5e2e2e; }
	footer ul li.ft_menu ul { position: relative; top: 25%; width: 100%; }
	footer ul li.ft_menu ul li { float: left; width: 20%; text-align: center; }
   footer ul li.ft_menu ul li span { font-family: 'Gothic A1', sans-serif; font-size: 18px; color: #5e2e2e; }
   footer ul li.ft_menu ul li a:hover span { color: rgba(220, 180, 179, 0.8); }

   footer ul li.ft_info { float: left; display: inline-block; position: relative; margin-top: 40px; width: 70%; color: #5e2e2e; }

   footer ul li.ft_info > ul li + li { margin-top: 10px; }
   footer ul li.ft_info > ul li { font-family: 'Gothic A1', sans-serif;  font-size: 14px; font-weight: 500; }
   footer ul li.ft_info span { margin-left: 10px; font-weight: 300; }
   footer ul li.ft_info address { display: inline-block; margin-left: 10px; font-style: normal; font-weight: 300; }

   footer ul li.ft_follow { display: inline-block; position: relative;
       margin-top: 40px; width: 30%; color: #5e2e2e; }

   footer ul li.ft_follow > ul > li { margin-bottom: 20px; }
   footer ul li.ft_follow > ul > li:not(.follow_title) { display: inline-block; width: 26%; height: 20%; filter: invert(88%) sepia(2%) saturate(2941%) hue-rotate(314deg) brightness(82%) contrast(108%); transition: transform 0.3s; text-align: center; }
   footer ul li.ft_follow > ul > li:not(.follow_title):hover { filter: invert(17%) sepia(12%) saturate(2455%) hue-rotate(314deg) brightness(110%) contrast(89%); }
   footer ul li.ft_follow > ul > li:first-child { font-family: 'Gothic A1', sans-serif; font-size: 16px; }
   footer ul li.ft_follow > ul > li:nth-child(3) { position: relative; right: 15px; }
   footer ul li.ft_follow > ul > li:nth-child(4) { position: relative; right: 25px; }
   footer ul li.ft_follow a { display: inline-block; width: 100%; height: 100%; }
   footer ul li.ft_follow a img { width: 50%; }

   footer ul li.ft_copy { clear: both; position: relative; margin-top: 10px; width: 100%; height: 50px; text-align: center; color: #5e2e2e; font-family: 'Gothic A1', sans-serif; font-size: 14px; }
   footer ul li.ft_copy > ul > li { position: relative; top: 20%; }


}
/* ####### Tablet(end) ####### */




/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
   !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
   !!!!!!!!####!!!!!!!!!!!!####!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
   !!!!!!!!##!##!!!!!!!!!!##!##!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
   !!!!!!!!##!!##!!!!!!!!##!!##!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
   !!!!!!!!##!!!##!!!!!!##!!!##!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
   !!!!!!!!##!!!!##!!!!##!!!!##!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
   !!!!!!!!##!!!!!!##!##!!!!!##!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
   !!!!!!!!##!!!!!!!##!!!!!!!##!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
   !!!!!!!!##!!!!!!!!!!!!!!!!##!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
   !!!!!!!!##!!!!!!!!!!!!!!!!##!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
   !!!!!!!!##!!!!!!!!!!!!!!!!##!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
   !!!!!!!!##!!!!!!!!!!!!!!!!##!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
   !!!!!!!!##!!!!!!!!!!!!!!!!##!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
   !!!!!!!!##!!!!!!!!!!!!!!!!##!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
   !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
   !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
*/


/* ####### Mobile(start) ####### */
	@media screen and (max-width: 767px) {

      .pagination button { padding: 10px 10px; }
      .pagination button > span { display: inline-block; position: relative; left: 50%; transform: translateX(-50%); border-radius: 99999px; border: 1px solid #5e2e2e; transition: all 0.2s linear; }
      .pagination button:hover > span { background: #5e2e2e; }
      .pagination button.active > span { background: #5e2e2e; }
      
      
      .arro_btns { margin: 0 auto; width: 100%; }
      .arro_btns .prev { display: inline-block; transform: rotate(180deg); }
      .arro_btns .next { position: absolute; right: 0; display: inline-block; }
   
   
      /*header(M_start) */
   
      header { z-index: 100; position: sticky; top: 0; width: 100%; height: 15%; }
      header .header_wrap { position: relative; width: 100%; height: 100%; background: #f7f0f0; text-align: center; }
   
      header .info_wrap { display: inline-block; position: sticky; left: 50%; width: 50%; height: 10%; }
      header .info_wrap > button.h_menu { top: 3px; width: 30px; height: 30px; background: url("../images/img_common_btn_on.svg"); background-size: cover; background-position: center; background-repeat: no-repeat; filter: invert(72%) sepia(20%) saturate(444%) hue-rotate(314deg) brightness(96%) contrast(87%); }
      header .info_wrap > button { display: inline-block; position: relative; left: 5px; bottom: 12px; margin: 0 auto; width: 30px; height: 30px; text-align: center; }
      header .info_wrap > button + button { margin-top: 30px; margin-left: 5px; }
      header .info_wrap > button > img { width: 100%; filter: invert(72%) sepia(20%) saturate(444%) hue-rotate(314deg) brightness(96%) contrast(87%); }
      header .header_wrap > a { display: inline-block; position: relative; left: -56%; width: 20%; text-align: center; }
      header .header_wrap > a > img { display: inline-block; position: relative; bottom: 10px; width: 100%; }

      header nav { position: relative; display: none; width: 100%; height: 100%; padding: 0 0 0 40px; }
   
      /* header on + nav */
      
   
      header.on .header_wrap { height: 100vh; background: #e2c3c1; }
   
      header.on nav { display: block; position: absolute; top: 12%; width: 100%; height: 100%; }
      
      header.on nav ul { overflow-y: scroll; height: 100%; }
      header.on .info_wrap > button.h_menu { background: url("../images/img_common_btn_off.svg"); background-size: cover; background-position: center; background-repeat: no-repeat; width: 28px; height: 28px; filter: invert(72%) sepia(20%) saturate(444%) hue-rotate(314deg) brightness(96%) contrast(87%); }
      header.on nav > ul > li > button { display: block; position: relative; width: 100%; height: 3em; font-family: 'Manrope', sans-serif; font-size: 1.5em; line-height: 3; color: #5e2e2e; }
      header.on nav > ul > li > button.btn_menu img { background-image: url("../images/img_common_btn_off.svg"); }
      header.on nav > ul > li > button::after { content: ""; display: block; position: absolute; right: 15px; top: 50%; transform: translate(50%, -50%); width: 0.58333333em; height: 0.4166666em; background: url("../images/img_common_btn_updown.svg"); filter: invert(17%) sepia(12%) saturate(2455%) hue-rotate(314deg) brightness(110%) contrast(89%); transition: transform 0.3s; }
      header.on nav > ul > li.active > button::after { transform: translate(50%, -50%) rotate(180deg); }
      
      header.on ul.sub { overflow: hidden; height: 0; transition: height 0.2s; }
      header.on nav > ul > li:nth-child(1)[class ~= "active"] > ul.sub { height: 7.5em; }
      header.on nav > ul > li:nth-child(2)[class ~= "active"] > ul.sub { height: 10em; }
      header.on nav > ul > li:nth-child(3)[class ~= "active"] > ul.sub { height: 5em; }
      header.on nav > ul > li:nth-child(4)[class ~= "active"] > ul.sub { height: 7.5em; }
      header.on nav > ul > li:nth-child(5)[class ~= "active"] > ul.sub { height: 2.5em; }
   
      header.on ul.sub > li > a { display: block; width: 100%; height: 2.5em; padding-left: 2em; color: #5e2e2e; font-size: 1em; line-height: 2.5; text-align: left; }
      header.on ul.sub > li > a span { position: relative; text-align: left; font-family: 'Gothic A1', sans-serif; }
   
   
   
   
   
      /* header on + nav */
   
      /*header(M_end) */
   
   
   
      
   
   
      /* footer(M_start)*/
   
   
      footer { position: relative; margin-top: 200px; padding: 0px; width: 100%; }
   
      footer ul { width: 100%; }
      footer ul li.ft_menu { position: relative; width: 100%; }
      footer ul li.ft_menu::after { content: ""; display: inline-block; position: absolute; top: -20px; width: 100%; height: 1.5px; background: #5e2e2e; }
      footer ul li.ft_menu + li.ft_menu::before { content: ""; display: inline-block; width: 1px; height: 5px; background: #5e2e2e; }
      footer ul li.ft_menu ul { position: relative; top: 25%; width: 100%; }
      footer ul li.ft_menu ul li { float: left; width: 30%; }
      footer ul li.ft_menu ul li:nth-child(4) { margin-top: 10px; }
      footer ul li.ft_menu ul li:nth-child(5) { margin-top: 10px; }
      footer ul li.ft_menu ul li span { font-family: 'Gothic A1', sans-serif; font-size: 14px; color: #5e2e2e; }
      footer ul li.ft_menu ul li a:hover span { color: rgba(220, 180, 179, 0.8); }
   
      footer ul li.ft_info { display: inline-block; position: relative; margin-top: 20px; width: 100%; color: #5e2e2e; }
   
      footer ul li.ft_info > ul li + li { margin-top: 10px; }
      footer ul li.ft_info > ul li { font-family: 'Gothic A1', sans-serif;  font-size: 12px; font-weight: 500; }
      footer ul li.ft_info span { margin-left: 10px; font-weight: 300; }
      footer ul li.ft_info address { display: inline-block; margin-top: 4px; font-style: normal; font-weight: 300; }
   
      footer ul li.ft_follow { display: inline-block; position: relative;
          margin-top: 20px; width: 100%; color: #5e2e2e; }
      footer ul li.ft_follow > ul > li { margin-bottom: 20px; }
      footer ul li.ft_follow > ul > li:not(.follow_title) { display: inline-block; width: 20%; height: 20%; filter: invert(88%) sepia(2%) saturate(2941%) hue-rotate(314deg) brightness(82%) contrast(108%); transition: transform 0.3s; text-align: center; }

      footer ul li.ft_follow > ul > li:first-child { font-family: 'Gothic A1', sans-serif; font-size: 12px; }
      footer ul li.ft_follow > ul > li:nth-child(3) { position: relative; }
      footer ul li.ft_follow > ul > li:nth-child(4) { position: relative; }
      footer ul li.ft_follow a { display: inline-block; width: 100%; height: 100%; }
      footer ul li.ft_follow a img { width: 50%; }
   
      footer ul li.ft_copy { clear: both; position: relative; margin-top: 10px; width: 100%; height: 50px; text-align: center; color: #5e2e2e; font-family: 'Gothic A1', sans-serif; font-size: 12px; line-height: 1.6; }
      footer ul li.ft_copy > ul > li { position: relative; top: 20%; }	

	/* footer(M_end)*/


}
/* ####### Mobile(end) ####### */